<ul>
  <% @questions.each do |question| %>
    <%# if you pass a instance to link_to it will create the href='/questions/:id' %>
    <%= link_to question do %>
      <li class='list-group-item'>
        <p><%= question.id %> <%= question.title %></p>
      </li>
    <% end %>
  <% end %>
</ul>