<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <ul class='navbar-nav mr-auto'>
    <%# link_to 'Question Index', '/questions' %>
    <%= link_to 'Question Index', questions_path %>
    |
    <%= link_to 'Question New Page', new_question_path %>
  </ul>
  <div>
    <% if user_signed_in? %>
      <%= current_user.first_name %> <%= current_user.last_name %>
    <% end %>
  </div>
</nav>