<div class='shadow-sm p-3 mb-5 bg-white rounded overflow-wrap'>
  <h1>
    <span class='badge badge-pill badge-info'>
      <%= @job_post.id %>
    </span>
    <%= @job_post.title %>
  </h1>
  <p class='shadow-none p-3 mb-5 bg-light rounded'><%= @job_post.description %></p>
</div>